$primary-color: steelblue;
$secondaty-color: skyblue;
$light-color: #f5f5f5;
$dark-color: #333;
$font-stack: Arial, Helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-color;
  color: $dark-color;
  font-family: $font-stack;
  line-height: 1.5;
}