@media(max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .icons i{
    color: #28a745;
    background: none;
  }

  .flex-columns .row, .flex-columns.flex-reverse .row{
    flex-direction: column;
  }

  .flex-columns .column .column-1{
    display: none;
  }

  .flex-grid .row {
    display: block;
  }

  .team img{
    width: 70%;
  }
}